assets/*
_ss_environment.php
tools/phing-metadata
silverstripe-cache
.buildpath
.project
.settings
.idea
.DS_Store
vendor/
.sass-cache
cms
framework
node_modules
mysite/_config.php
themes/foundation/.git
themes/foundation/bower_components
themes/foundation/bower.json

